doctype html
html
   h1 Welcome to MLtrainer-Exchange!
   p1.
      This site allows you to upload the thousands of images required 
      |to train a neural net image classifier.
      |After paying for training time on the GPUs, backend services 
      |will download the image dataset, setup a convolutional neural net, 
      |and begin training it.  When it has reached a satisfactory level of 
      |training, the resulting model is uploaded and made available 
      |for you to download.
      |Some documentation is provided for setting up 
      |a feed forward network to use this trained model on your hardware.
      |Note that feed forward is MUCH less computationally expensive than training a neural net model.
